<!-- Header -->
			<header id="header" class="alt">
				<h1 id="logo"><a href="http://localhost:4000/">Morusu Shiatsu <span>Stephan Moors </span></a></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="http://localhost:4000/">Home</a></li>

						<li class="submenu">
						<a href="">Behandelingen</a>
						<ul>
						<li><a href="/behandelingen-shiatsu">Shiatsu</a></li>
						<li><a href="/behandelingen-moxa">Moxa</a></li>
						<li><a href="/behandelingen-voetreflex">Voetreflexologie</a></li>
						<li><a href="/behandelingen-seiki">Seiki</a></li>
						</ul>
						</li>
						
						<li><a href="/geschenkbon">Geschenkbon</a></li>
						<li><a href="/contact" class="button special">Contact</a></li>
					</ul>
				</nav>
			</header>